<% present activity, ActivityPresenter do |activity_presenter| %>
  <div class="activity">
    <% present activity.actor do |user_presenter| %>
      <div class="avatar"><%= user_presenter.avatar %></div>
      <div class="content">
        <h4><%= activity_presenter.text %></h4>

        <div class="metadata"><%= activity_presenter.metadata %></div>

        <ul class="list span5">
          <%# render 'shared/likes', :item => activity %>
          <%= render 'shared/comments', :item => activity %>
        </ul>

      </div>
      <div style="clear: both;"></div>
    </div>
    <% end %>
<% end %>